<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2013 – 2015 Ricki Hirner (bitfire web engineering).
  ~
  ~ This program is free software: you can redistribute it and/or modify it under the terms of the GNU
  ~ General Public License as published by the Free Software Foundation, either version 3 of the
  ~ License, or (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
  ~ without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
  ~ PURPOSE.  See the GNU General Public License for more details.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="at.bitfire.icsdroid"
          android:installLocation="internalOnly">

    <!-- fetch iCalendar files -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- manage ICSdroid accounts -->
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" android:maxSdkVersion="22"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" android:maxSdkVersion="22"/>
    <!-- add/update/delete events -->
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <!-- view/change the sync. interval and whether the account is sync.ing -->
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <!-- access local .ics files -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- remove task permissions from ical4android -->
    <uses-permission android:name="org.dmfs.permission.READ_TASKS" tools:node="remove"/>
    <uses-permission android:name="org.dmfs.permission.WRITE_TASKS" tools:node="remove"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service
            android:name=".AccountAuthenticatorService"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/account_authenticator" />
        </service>
        <service
            android:name=".SyncAdapterService"
            android:process=":sync"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter"
                       android:resource="@xml/sync_calendars" />
        </service>

        <activity
            android:name=".ui.CalendarListActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.AddCalendarActivity"
            android:label="@string/activity_add_calendar"
            android:parentActivityName=".ui.CalendarListActivity"
            tools:ignore="UnusedAttribute">
            <intent-filter tools:ignore="AppIndexingError">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="file"/>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:pathPattern="/.*.ics"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="file"/>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:mimeType="text/calendar"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="webcal"/>
                <data android:scheme="webcals"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.EditCalendarActivity"
            android:label="@string/activity_edit_calendar"
            android:windowSoftInputMode="stateHidden"
            android:parentActivityName=".ui.CalendarListActivity"
            tools:ignore="UnusedAttribute"/>
        <activity
            android:name=".ui.InfoActivity"
            android:label="@string/activity_app_info"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".ui.CalendarListActivity"
            tools:ignore="UnusedAttribute"/>

    </application>

</manifest>
